{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des auteurs</h1>

    {% if authors is defined and authors is not empty %}
        <table border="1" cellpadding="10">
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Nombre de livres</th>
            </tr>
            {% for author in authors %}
                <tr>
                    <td><img src="{{ author.picture }}" alt="{{ author.username }}" width="100"></td>
                    <td>{{ author.username|upper }}</td>
                    <td>{{ author.email }}</td>
                    <td>{{ author.nb_books }}</td>
                </tr>
            {% endfor %}
        </table>

         <p> Nombre d'auteurs : {{ authors|length }}</p> 
    <p> Total des livres : 
        {{ authors|map(a => a.nb_books)|reduce((carry, nb) => carry + nb) }}
    </p>
    {% else %}
        <p>Aucun auteur trouvé.</p>
    {% endif %}
{% endblock %}