<h2>Détails de l'auteur</h2>

<img src="{{ author.picture }}" width="100"><br>
<b>Nom :</b> {{ author.username }}<br>
<b>Email :</b> {{ author.email }}<br>
<b>Nombre de livres :</b> {{ author.nb_books }}<br>

<a href="{{ path('afficherTab') }}">⬅ Retour à la liste</a>