<h1> Update Book</h1>

{{form_start(formulaire)}}
{{form_label(formulaire.title)}}
{{form_widget(formulaire.title)}}
{{form_errors(formulaire.title)}}

{{form_label(formulaire.publicationDate)}}
{{form_widget(formulaire.publicationDate)}}
{{form_errors(formulaire.publicationDate)}}

{{form_label(formulaire.published)}}
{{form_widget(formulaire.published)}}
{{form_errors(formulaire.published)}}

{{form_label(formulaire.category)}}
{{form_widget(formulaire.category)}}
{{form_errors(formulaire.category)}}

{{form_label(formulaire.author)}}
{{form_widget(formulaire.author)}}
{{form_errors(formulaire.author)}}

{{form_end(formulaire)}}